<% content_for :page_title do %>
   Purchase Order (<%= @stock_transfer.number %>)
<% end %>


<fieldset>

  <table class="table table-bordered">
    <tr>
      <td width="30%"><strong><%= Spree.t(:created_at) %></strong></td>
      <td><%= @stock_transfer.created_at %></td>
    </tr>
    <tr>
      <td width="30%"><strong><%= Spree.t(:status) %></strong></td>
      <td><%= @stock_transfer.status %></td>
    </tr>
    <tr>
      <td width="30%"><strong><%= Spree.t(:required_action) %></strong></td>
      <td>
          <% if @stock_transfer.stock_movements.count == 0 %>
            There are no part numbers on this purchase order.
            Either add some part numbers below or delete this purchase order.
          <% elsif @stock_transfer.status == 'Created' && @stock_transfer.stock_movements.count > 0 %>
            This order has not yet been sent to Stylmark.
            Please review the contents of this order and make any required ammendments.
            When you are satisfied, please click 'Progress Purchase Order'.
          <% elsif @stock_transfer.status == 'Sent To Stylmark' %>
            This order has been sent to Stylmark.
            If you make any changes to it at this point, you will need to click Amend Purchase Order when you are done and then 'Re-Send' the purchase order to Stylmark.
          <% end %>
      </td>
    </tr>
  </table>

    <% @a = @stock_transfer.stock_movements.map { |h| h[:estimated_arrival_date]}.uniq %>
    <% @a.sort! %>
    <% relevant_stock_movements_1 = @stock_transfer.stock_movements.where(estimated_arrival_date: @a[0]) %>
    <% relevant_stock_movements_2 = @stock_transfer.stock_movements.where(estimated_arrival_date: @a[1]) %>
    <% relevant_stock_movements_3 = @stock_transfer.stock_movements.where(estimated_arrival_date: @a[2]) %>
    <% if @a.size >= 1 && relevant_stock_movements_1.any? {|h| h[:sales_order_id] == nil } %>
      <%= render partial: 'edit_stock_transfer', locals: {relevant_date: @a[0]} %>
    <% end %>

    <% if @a.size < 2 %>
      <%= %>
    <% else @a.size >= 2 && relevant_stock_movements_2.any? {|h| h[:sales_order_id] == nil }%>
      <%= render :partial => 'edit_stock_transfer', locals: {relevant_date: @a[1]} %>
    <% end %>

    <% if @a.size < 3 %>
      <%= %>
    <% else @a.size >= 3 && relevant_stock_movements_3.any? {|h| h[:sales_order_id] == nil } %>
      <%= render :partial => 'edit_stock_transfer', locals: {relevant_date: @a[2]}  %>
    <% end %>

</fieldset>

<%= form_for([:admin, @stock_transfer]) do |f| %>

  <%= f.hidden_field :status, value: 'Sent To Stylmark' %>

  <% if @stock_transfer.status == 'Created' %>
    <%= f.submit 'Send To Stylmark', class: 'btn btn-primary' %>
  <% else %>
    <%= f.submit 'RE-SEND To Stylmark', class: 'btn btn-primary' %>
  <% end %>
<%= button_link_to Spree.t(:Cancel), admin_stock_transfer_path(params[:id]), { :class => 'btn-danger' } %>
<% end %>
