<!-- View for part numbers with a status of 'On Order' -->

  <% sales_orders = @stock_transfer.sales_orders %>

  <% sales_orders.each do |sales_order| %>

    <fieldset>
      <h3>Sales Order (<%= sales_order.number %>)
        <% unless sales_order.status == 'Complete' %>
          <span style='float:right'><%= button_link_to "Delete Sales Order", admin_stock_transfer_sales_order_path(@stock_transfer, sales_order), class: 'btn-danger',  method: :delete, data: { confirm: 'Are you sure? This action cannot be undone and will cause the sales order and all associated part number orders to be deleted.' } %></span>
          <span style='float:right'><%= button_link_to Spree.t(:edit_sales_order), edit_admin_stock_transfer_sales_order_path(@stock_transfer, sales_order), class: 'btn-info' %></span>
        <% end %>
      </h3>
      <br>

      <table class="table table-bordered">
        <tr>
          <td width="30%"><strong><%= Spree.t(:created_at) %></strong></td>
          <td><%= sales_order.created_at %></td>
        </tr>
        <tr>
          <td width="30%"><strong><%= Spree.t(:status) %></strong></td>
          <td><%= sales_order.status %></td>
        </tr>
        <tr>
          <td width="30%"><strong><%= Spree.t(:required_action) %></strong></td>
          <td> This order has not yet been sent to Stylmark. Please review the contents of this order and make any required ammendments. When you are satisfied, please click 'Progress Purchase Order'. </td>
        </tr>
      </table>

      <div id='source-movements-table' class='twelve columns alpha'>
        <table class='table sortable'>
          <thead data-hook='bulk_variants_header'>
            <tr>
              <th><%= Spree.t('variant') %></th>
              <th><%= Spree.t('sku') %></th>
              <th><%= Spree.t('quantity') %></th>
              <th><%= Spree.t('due_to_arrive') %></th>
              <th><%= Spree.t('status') %></th>
              <th><%=  %></th>
            </tr>
          </thead>
          <tbody id='bulk_variants_tbody'>
            <% sales_order.stock_movements.each do |movement| %>
              <tr>
                  <td><%= movement.stock_item.variant.name %></td>
                  <td><%= movement.stock_item.variant.sku %></td>
                  <td><%= movement.quantity %></td>
                  <td><%= movement.estimated_arrival_date %></td>
                  <td><%= movement.status %></td>
                  <% unless movement.status == 'Complete' %>
                    <td>
                      <span style='float:left'><%= button_link_to Spree.t(:edit), edit_admin_stock_location_stock_movement_path(1, movement.id), { :class => 'btn-info' } %></span>
                      <%= button_link_to "Delete", admin_stock_transfer_stock_movement_path(@stock_transfer, movement.id), class: 'btn-danger',  method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </fieldset><hr>

  <% end %>

<!-- END -->

<!-- View for part numbers with a status of Sent or Pending -->
  <% all_stock_movements_pending = @stock_transfer.stock_movements.where(status: 'Pending') %>
  <% @unique_arrival_dates_pending = all_stock_movements_pending.map { |h| h[:estimated_arrival_date]}.uniq %>
  <% @unique_arrival_dates_pending.sort! %>
  <% number_of_dates_pending = @unique_arrival_dates_pending.count %>
  <% zero = 0 %>



  <% number_of_dates_pending.times do %>

    <fieldset>
      <% relevant_stock_movements_pending = all_stock_movements_pending.where(estimated_arrival_date: @unique_arrival_dates_pending[zero]) %>
      <span><%= button_link_to Spree.t(:new_sales_order), new_admin_stock_transfer_sales_order_path(@stock_transfer, date: @unique_arrival_dates_pending[zero]), { :icon => 'add', :class => 'btn-success' } %></span>

      <div id='source-movements-table' class='twelve columns alpha'>
        <table class='table sortable'>
          <thead data-hook='bulk_variants_header'>
            <tr>
              <th><%= Spree.t('variant') %></th>
              <th><%= Spree.t('sku') %></th>
              <th><%= Spree.t('quantity') %></th>
              <th><%= Spree.t('due_to_arrive') %></th>
              <th><%= Spree.t('status') %></th>
              <th><%=  %></th>
            </tr>
          </thead>
          <tbody id='bulk_variants_tbody'>
            <% relevant_stock_movements_pending.each do |movement| %>
              <tr>
                  <td><%= movement.stock_item.variant.name %></td>
                  <td><%= movement.stock_item.variant.sku %></td>
                  <td><%= movement.quantity %></td>
                  <td><%= movement.estimated_arrival_date %></td>
                  <td><%= movement.status %></td>
                  <td>
                    <span style='float:left'><%= button_link_to Spree.t(:edit), edit_admin_stock_location_stock_movement_path(1, movement.id), { :class => 'btn-info' } %></span>
                    <%= button_link_to "Delete", admin_stock_transfer_stock_movement_path(@stock_transfer, movement.id), class: 'btn-danger',  method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </fieldset>

    <% zero += 1 %>
  <% end %>

<!-- END -->

<%= button_link_to "Add New Part Number", new_1_admin_stock_transfer_stock_movements_path(@stock_transfer), class: 'btn-success' %>
