<fieldset>

    <span><%= button_link_to Spree.t(:new_sales_order), new_admin_stock_transfer_sales_order_path(params[:id]), { :icon => 'add', :class => 'btn-primary' } %></span>


  <div id='source-movements-table' class='twelve columns alpha'>
    <table class='table sortable'>
      <thead data-hook='bulk_variants_header'>
        <tr>
          <th><%= Spree.t('variant') %></th>
          <th><%= Spree.t('sku') %></th>
          <th><%= Spree.t('quantity') %></th>
          <th><%= Spree.t('due_to_arrive') %></th>
          <th><%= Spree.t('status') %></th>
          <th><%= Spree.t('action') %></th>
        </tr>
      </thead>
      <tbody id='bulk_variants_tbody'>
        <% @stock_transfer.stock_movements.where(estimated_arrival_date: @a[2]).each do |movement| %>
          <tr>
              <td><%= movement.stock_item.variant.name %></td>
              <td><%= movement.stock_item.variant.sku %></td>
              <td><%= movement.quantity %></td>
              <td><%= movement.estimated_arrival_date %></td>
              <td><%= movement.status %></td>
              <% if movement.status == 'On Order'%>
                <td><%= button_link_to Spree.t(:edit), edit_admin_stock_location_stock_movement_path(1, movement.id), { :class => 'btn-info' } %></td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</fieldset>
