<% content_for :page_title do %>
   Purchase Order (<%= @stock_transfer.number %>)
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_stock_transfer), new_admin_stock_transfer_path, { :icon => 'add', :class => 'btn-success' } %>
<% end if can? :create, Spree::StockTransfer %>

<fieldset>
  <legend><%= Spree.t(:purchase_order) %></legend>

  <table class="table table-bordered">
    <tr>
      <td width="30%"><strong><%= Spree.t(:created_at) %></strong></td>
      <td><%= @stock_transfer.created_at %></td>
    </tr>
  </table>

    <% @a = @stock_transfer.stock_movements.map { |h| h[:estimated_arrival_date]}.uniq %>
    <% @a.sort! %>
    <% if @a.size >= 1 %>
      <%= render :partial => 'stock_movements_1' %>
    <% end %>

    <% if @a.size >= 2 %>
      <%= render :partial => 'stock_movements_2' %>
    <% end %>

    <% if @a.size >= 3 %>
      <%= render :partial => 'stock_movements_3' %>
    <% end %>

</fieldset>
