
<!-- Sidebar Menu -->
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
  <% end %>
<!-- END -->


<div class ='col-sm-12'>
  <div class='row'>
    <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>Product Brochures</h2><br>
        <p style='font-size: 14px'>
          Please find a collection of our product brochures listed below.
          Simply click these to download a pdf version of the catalogue.
        </p>
      </div>
    <!-- END -->
  </div>

  <div class='row'>
    <div class='col-sm-4'>
      <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            <%= image_tag('Architectural_Trim_and_Moldings.jpg', class: 'img-responsive') %><br>
          </div>
          <div class="panel-footer text-center">
            <span>Architectural Trim and Moldings </span>
          </div>
      </div>
    </div>

    <div class='col-sm-4'>
      <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            <%= image_tag('backlit_displays_and_transparency_frames.jpg', class: 'img-responsive') %><br>
          </div>
          <div class="panel-footer text-center">
            <span>Backlit Displays and Transparency Frames</span>
          </div>
      </div>
    </div>

    <div class='col-sm-4'>
      <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            <%= image_tag('complete_solutions_and_speciality_fixtures.jpg', class: 'img-responsive') %><br>
          </div>
          <div class="panel-footer text-center">
            <span>Complete Solutions and Speciality Fixtures</span>
          </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-4'>
      <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            <%= image_tag('distinctive_lifestyle_environments.jpg', class: 'img-responsive') %><br>
          </div>
          <div class="panel-footer text-center">
            <span>Distinctive Lifestyle Environments</span>
          </div>
      </div>
    </div>

    <div class='col-sm-4'>
      <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            <%= image_tag('fitting_room_systems_and_mirror_kits.jpg', class: 'img-responsive') %><br>
          </div>
          <div class="panel-footer text-center">
            <span>Fitting Room Systems and Mirror Kits</span>
          </div>
      </div>
    </div>

    <div class='col-sm-4'>
      <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            <%= image_tag('framing_and_partition_systems.jpg', class: 'img-responsive') %><br>
          </div>
          <div class="panel-footer text-center">
            <span>Framing and Partition Systems</span>
          </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-4'>
      <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            <%= image_tag('shelving.jpg', class: 'img-responsive') %><br>
          </div>
          <div class="panel-footer text-center">
            <span>Shelving</span>
          </div>
      </div>
    </div>

    <div class='col-sm-4'>
      <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            <%= image_tag('hardware_and_accessories.jpg', class: 'img-responsive') %><br>
          </div>
          <div class="panel-footer text-center">
            <span>Hardware and Accessories</span>
          </div>
      </div>
    </div>

    <div class='col-sm-4'>
      <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            <%= image_tag('showcases.jpg', class: 'img-responsive') %><br>
          </div>
          <div class="panel-footer text-center">
            <span>Showcases</span>
          </div>
      </div>
    </div>
  </div>
</div>
